<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CardanoLogo" value="https://cryptologos.cc/logos/cardano-ada-logo.png?v=010" />
    <add key="EtheriumLogo" value="https://cryptologos.cc/logos/ethereum-eth-logo.png?v=010" />
    <add key="BitCoinLogo" value="https://cryptologos.cc/logos/bitcoin-btc-logo.png?v=010" />
  </appSettings>
</configuration>